A statistics is a single number that summarizes the numerical dataset.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
iris = pd.read_csv('../Datasets/iris.csv').drop(['Unnamed: 0'], axis=1)
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
iris.rename(columns=lambda x: x.replace('.', '_').lower(), inplace=True)

In [5]:
iris['sepal_length'].count()

150

In [6]:
iris[['sepal_length', 'sepal_width']].count()

sepal_length    150
sepal_width     150
dtype: int64

In [7]:
iris['sepal_length'].mean()

5.843333333333335

In [9]:
iris.mean() # Ignore null entries

sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64

In [10]:
iris.median()

sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
dtype: float64

In [14]:
iris.quantile([0.25, 0.75])

      sepal_length  sepal_width  petal_length  petal_width
0.25           5.1          2.8           1.6          0.3
0.75           6.4          3.3           5.1          1.8

In [15]:
iris.min()

sepal_length       4.3
sepal_width          2
petal_length         1
petal_width        0.1
species         setosa
dtype: object

In [16]:
iris.max()

sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
dtype: object

In [17]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [18]:
iris['species'].describe()

count           150
unique            3
top       virginica
freq             50
Name: species, dtype: object

In [19]:
iris['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)